/* lg */
/* md */
@media (min-width: 769px) and (max-width: 979px) {
  body {
    padding: 0;
    background: #dddddd;
    font-size: 16px;
  }
  .ui.statistic > .value {
    font-size: 3rem;
  }
}
/* sm */
@media (max-width: 768px) {
  html {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  body {
    background: #dddddd;
    font-size: 16px;
  }
}
/* xs */
@media (max-width: 480px) {
  body {
    background: #dddddd;
  }
  header {
    height: 64px;
    line-height: 64px;
  }
  header .overlay {
    background: none;
  }
  header .overlay h1 {
    margin: 0;
    padding: 0;
    line-height: 64px;
    text-align: center;
    font-size: 48px;
  }
  header .overlay .sidebar-toggle {
    display: block;
  }
  nav.nav-main {
    display: none;
    margin: 0;
  }
  .lead {
    font-size: 22px;
  }
}
