header .brand {
  background-image: url(../img/fr2b@2x.png);
  background-size: 940px 120px;
}
@media (max-width: 480px) {
  header .brand {
    background-image: url(../img/fr2b-mobile@2x.png);
    background-size: 940px 120px;
  }
}
