@import "mixins.less";
@import "variables.less";

/* widescreen */
@media (min-width: 1920px) {}

/* large monitor */
@media (min-width: 1400px) and (max-width: 1919px) {}

/* computer */
@media (min-width: 992px) and (max-width: 1399px) {}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
	html {
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}

	main {
		padding-bottom: 350px;
	}
	footer {
		height: 350px;
	}
}

/* mobile */
@media (max-width: 767px) {
	html {
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}

	#nav-main {
		.navbar-nav {
			a {
				color: @color-white;
				font-size: @font-size !important;
				font-weight: normal;
				font-style: normal;

				&:hover {
					color: @color-white;
					text-shadow: 0 0 0 rgba(0, 0, 0, 0);
				}
			}
		}

		.dropdown-menu>li>a {
			color: @color-white;

			&:hover {
				color: @color-white;
				text-shadow: 0 0 0 rgba(0, 0, 0, 0);
			}
		}
	}

	main {
		padding-bottom: 375px;
	}
	footer {
		height: 375px;
	}

	main h1 {
		text-align: center;
	}
}
