@import "mixins.less";
@import "variables.less";

/* widescreen */
@media (min-width: 1920px) {}

/* large monitor */
@media (min-width: 1400px) and (max-width: 1919px) {}

/* computer */
@media (min-width: 992px) and (max-width: 1399px) {}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
	html {
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}

	.ui.header {
		h1 {
			text-align: center;
		}

		nav {
			float: none;
			margin: 0;

			ul {
				li {
					float: none;
					width: 33%;
					padding: 0;
					display: inline-block;

					text-align: center;
				}
			}
		}
	}

	.ui.card {
		margin-bottom: @spacing !important;
	}

	.ui.steps {
		width: 85%;
		margin: 0 auto @spacing auto;

		.step {
			display: block;
			width: 100% !important;
			padding: .9285em 1.5em;

			&:after {
				visibility: hidden;
			}

			&:first-child {
				.border-radius(@border-radius, @border-radius, 0, 0);
			}

			&:last-child {
				.border-radius(0, 0, @border-radius, @border-radius);
			}
		}
	}
}

/* mobile */
@media (max-width: 767px) {
	html {
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}

	.ui.header {
		h1 {
			text-align: center;
		}

		nav {
			float: none;
			margin: 0;

			ul {
				li {
					float: none;
					display: block;
					width: 100%;
					margin: @spacing-sm 0;
					padding: 0;

					text-align: center;

					a {
						font-size: 1.75em;
					}
				}
			}
		}
	}

	section h1 {
		text-align: center;
	}

	.ui.card {
		margin-bottom: @spacing !important;
	}

	.ui.steps {
		width: 100%;
		margin: 0 auto @spacing auto;

		.step {
			width: 100% !important;

			&:first-child {
				.border-radius(@border-radius, @border-radius, 0, 0);
			}

			&:last-child {
				.border-radius(0, 0, @border-radius, @border-radius);
			}
		}
	}
}
